.formColumn1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
}
#customer-info {
  text-align: left;
  -ms-flex-align: right;
      -ms-grid-row-align: right;
      align-items: right;
}
p3 {
  color: #21418C;
}
.categories-wrap {
  padding-top: 3vh;
}
.form-title {
  margin-bottom: 3.3vh;
}
.form-field {
  padding-bottom: 2vh;
  margin-bottom: 5vh;
  text-align: center;
  width: 18vw;
}
.addCust-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  overflow: scroll;
  height: 85%;
  width: 60%;
}
.formColumn2 {
  padding-left: 15vw;
  padding-top: 10vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  border-bottom: 4vh;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.submit-button {
  margin-right: 35vw;
  width: 9vw;
  height: 40px;
  background-color: #21418C;
  color: white;
}


.white {
  color: white;
}
.users-dashboard {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.users-list {
  overflow: scroll;
}
.users-div {
  border: transparent;
  color: #21418C;
  font-size: 1em;
  background-color: white;
  height: 80px;
  width: 100%;
  cursor: pointer;
  text-align: left center;
}
.activeUser {
  background-image: url('../IMG/check.png');
  background-size: 3vh;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #EEEEEE;
}
.usersSearch {
  background-color: white;
  color: grey;
  text-align: justify;
  background-image: url('../IMG/mag-glass.png');
  background-repeat: no-repeat;
  background-size: 3vh;
  background-opacity: .3;
  background-position: left;
  background-position: .5vw;
  -ms-flex-item-align: center;
      align-self: center;
  height: 5vh;
  width: 20vw;
  border-radius: 15px 15px 15px 15px;
  border-color: transparent;
  font-size: 1em;
}
.display-view-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.blue {
  background: #21418C;
  color: white;
}
.red {
  background: #F46868;
  color: white;
}
.display-view-container h3 {
  color: #21418C;
}
.display-view-container strong {
  color: black;
}
.customer-info-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.alert-box-container {
  background: rgba(244, 104, 104, 0.15);
  width: 50%;
  border: 1px solid #F46868;
}
.alert-box-head {
  color: white;
  font-weight: 100;
}
.alert {
  padding: 1em;
  border-bottom: 1px solid rgba(244, 104, 104, 0.2);
}
.select-car-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  height: 5vh;
  border-top: 1px solid #727476;
  border-bottom: 1px solid #727476;
}
.car-info-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 2em;
}

.login-container {
  position: absolute;
  left: 80vw;
  top: 0;
  text-align: center;
  z-index: 2;
  width: 100%;
}
.login-button {
  text-align: center;
}

/*LESS*/
@import 'https://fonts.googleapis.com/css?family=Roboto:400,100italic,100';
/*@mainbackground: #F7F7F7*/
/*HTML*/
* {
  font-family: 'Roboto', sans-serif;
  color: #727476;
}
html,
body {
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
/*MAIN*/
.main-container {
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: auto;
}
/*ROUTES*/
.route-container {
  display: -ms-flexbox;
  display: flex;
  left: 20vw;
  -ms-flex-order: 2;
      order: 2;
  height: auto;
  width: 78%;
}
.route-main {
  width: 78vw;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-order: 2;
      order: 2;
}
.column1 {
  width: 30%;
  height: 100vh;
  background-color: white;
  margin-left: 20px;
  margin-top: 20px;
}
.column2 {
  width: 63%;
  height: 100vh;
  background-color: white;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 15px;
}
/*SCHEDULE*/
iframe {
  width: 100%;
  height: 100%;
}

.search-container {
  height: 9vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #EEEEEE;
}
.makesSearch {
  background-color: white;
  color: grey;
  text-align: justify;
  background-image: url('../IMG/mag-glass.png');
  background-repeat: no-repeat;
  background-size: 3vh;
  background-position: left;
  background-position: .5vw;
  -ms-flex-item-align: center;
      align-self: center;
  height: 5vh;
  width: 20vw;
  border-radius: 15px 15px 15px 15px;
  border-color: transparent;
  font-size: 1em;
}
.typeSearch {
  background-image: none;
}
.modelSearch {
  background-color: white;
  color: grey;
  text-align: justify;
  background-image: url('../IMG/mag-glass.png');
  background-repeat: no-repeat;
  background-size: 3vh;
  background-opacity: .3;
  background-position: left;
  background-position: .5vw;
  -ms-flex-item-align: center;
      align-self: center;
  height: 5vh;
  width: 20vw;
  border-radius: 15px 15px 15px 15px;
  border-color: transparent;
  font-size: 1em;
}
.modelsList {
  background-image: none;
}
section.make-list {
  margin-top: 5%;
  overflow: scroll;
  height: 18%;
  background-color: white;
}
section.make-list :hover {
  background-color: #21418C;
  color: white;
}
.make-click {
  border-bottom: solid 1px grey;
  background-color: white;
  width: 100%;
  border-color: transparent;
  cursor: pointer;
  text-align: left;
}
.active {
  background-image: url('../IMG/check.png');
  background-size: 2.5vh;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #21418C;
  color: white;
}
.activeModel {
  color: white;
}
section.model-list {
  margin-top: 5%;
  overflow: scroll;
  height: 30%;
  background-color: white;
}
section.model-list :hover {
  background-color: #21418C;
  color: white;
}
.model-click {
  cursor: pointer;
  border-bottom: solid 1px grey;
}
section.year-list {
  margin-top: 5%;
  overflow: scroll;
  height: 18%;
  background-color: white;
}
section.year-list :hover {
  background-color: #21418C;
  color: white;
}
.year-click {
  padding: 5px;
  border-top: solid 1px grey;
  cursor: pointer;
}
.maintenance-schedule {
  overflow: scroll;
  height: 100%;
}
.maint-container {
  padding-bottom: 4vh;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-bottom: solid 1px grey;
}
.no-maint {
  text-align: center;
  padding-top: 50vh;
}
::-webkit-scrollbar {
  width: 25px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: grey;
}

@import 'https://fonts.googleapis.com/css?family=Roboto';
/*@mainbackground: #F7F7F7*/
/*NAVBAR*/
.nav-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-order: 1;
      order: 1;
  height: 100vh;
  width: 20vw;
  background-color: white;
  -ms-flex-align: center;
      align-items: center;
  z-index: 1;
}
#nav-logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: auto;
  -ms-flex-order: 1;
      order: 1;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.nav-links {
  width: 100%;
  -ms-flex-order: 2;
      order: 2;
}
.nav-links > ul > li {
  list-style-type: none;
  padding-left: 0px;
  border-top: solid 1px #F7F7F7;
}
.links {
  height: 7vh;
  width: 100%;
  background-color: white;
  font-size: 1rem;
  border-color: transparent;
  text-align: left;
  cursor: pointer;
}
.activeNav {
  background-color: #6FC17F;
  color: white;
}
.links:hover {
  background-color: #6FC17F;
  color: white;
}
a:link {
  text-decoration: none;
}
ul {
  padding: 0;
}
