
<section id="login-container">
<section class="top-div-container"></section>
<section class="logo-karsync"><img src="http://i.imgur.com/cUtPdEP.png"></p>

<section class="login-field">

    <input class="login-cont" type="text" placeholder="Username">

    <input class="login-cont" type="password" placeholder="Password">

    </section>

    <br>


    <section class="login-button" ng-click="login">
          <a href="/auth/google/"> <img src="./IMG/icon-google.png"> </a>
        <!-- <button type="button"> Register </button>

       <button type="button"> Login </button> -->

    </section>
</section>
