<div id="custom-modal">
  <div id="overlay">
      <div id="car-info">
        <p> Car Information </p>
        <div class="form-wrap">
          <form class="form-container" ng-submit="processCarForm(vehicle)">
            <div class="form-name">
              <div class="form-title">VIN</div>
              <input class="form-field" type="text" name="vin" ng-model="vehicle.vin" placeholder="JH4CL96834C030859" />
            </div>
            <br />
            <div class="form-name">
            <div class="form-title">Make</div>
            <input class="form-field" type="text" name="make" ng-model="vehicle.make" placeholder="Toyota" />
            </div>
            <br />
            <div class="form-name">
              <div class="form-title">Model</div>
              <input class="form-field" type="text" name="model" ng-model="vehicle.model" placeholder="Camry" />
            </div>
            <br />
            <div class="form-name">
              <div class="form-title">Year</div>
              <input class="form-field" type="text" name="year" ng-model="vehicle.year" placeholder="2011" />
            </div>
            <br />
            <div class="form-name">
              <div class="form-title">Mileage</div>
              <input class="form-field" type="text" name="mileage" ng-model="vehicle.mileage" placeholder="0" />
            </div>
            <br />
            <div class=form-name>
                <input class="form-field" type="hidden" name="account_id" ng-model="vehicle.account_id" />
            </div>
            <div class="form-name">
              <div class="submit-container">
                <input class="submit-button" type="submit" value="Save"/>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="close-button">
      <a href ng-click="close()">Close</a>
    </div>
  </div>
  <div id="fade"></div>
</div>
/div>
</div>
