<section class="main-container">
     <section class="nav-bar">
       <nav-dir></nav-dir>

     </section>
<section class="route-main">
  <div class="column1">

    <div class="search-container">
      <input type="text" placeholder="          Search..." class="usersSearch" ng-model="searchString2"  ng-class="{'typeSearch': searchString2 }">
  </div>
  <section class="user-list">
    <section ng-repeat="user in userList | searchUserList:searchString2">
      <div class="users-div" ng-click="customerClicked(user); select(user)" ng-class="{'activeUser' : isActive(user)}" ui-sref="dashboardDisplay">
        {{user.first_name}} {{user.last_name}}
      </div>
    </section>
  </section>
  </div>
  <div class="column2">
    <ui-view></ui-view>
  </div>
</section>
</section>
