<section class="main-container">
     <section class="nav-bar">
       <nav-dir></nav-dir>
     </section>
<section class="route-main">
  <div class="column1">
    <div class="search-container">
    <input type="text" placeholder="Search..." class="makesSearch" ng-model="searchString"  ng-class="{'typeSearch': searchString }">
    </div>
      <section class="make-list" ng-scrollbars ng-scrollbars-config="configScroll1">
      <section data-ng-repeat="make in makes | filter: {name: searchString}" ng-click="makeList(make.name); select(make)">
        <div class="make-click" ng-class="{'active' : isActive(make)}">
          {{make.name}}
      </div></section>
    </section>
    <div class="search-container">
   <input type="text" placeholder="Search..." class="modelSearch" ng-model="searchString1"  ng-class="{'modelsList': searchString1 }">
    </div>
    <section class="model-list" ng-scrollbars ng-scrollbars-config="configScroll1">
      <section ng-repeat="model in models | filter: {name: searchString1}" ng-class="{'active' : isActiveModel(model)}">
        <div class="model-click" ng-click="yearOption(model); selectModel(model)">{{model.name}}</div></section>
    </section>
    <section class="year-list" ng-scrollbars ng-scrollbars-config="configScroll1">
      <section ng-repeat="year in years" ng-class="{'active' : isActiveYear(year)}">
        <div class="year-click" ng-click="yearsModel(year.year); selectYear(year)">{{year.year}}</div></section>
    </section>
  </div>
  <div class="column2">
    <div class="search-container-diag">
    <input type="text" placeholder="Search..." class="diagSearch" ng-model="search3"  ng-class="{'diagSearchCheck': search3 }">
    </div>
    <section class="maintenance-schedule">
    <!-- <section class="diag-view"> -->
      <div class="maint-container">
        <section class="maintence-user-car-cont">
         Diagnostic Code Look-up
         <section class="sched-maint-table-container">
           <section class="dash-maint-table-header dash-table-row">
             <section class=" diag-table-col1 dash-header">
               Engine Code
             </section>

             <section class=" diag-table-col3 dash-header">
               Description
             </section>

           </section>
           <section class="maint-table-data-container" ng-scrollbars ng-scrollbars-config="configScroll2">
             <section class="dash-table-row" ng-repeat="test in test | filter: search3" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
               <section class=" diag-table-col1">
                {{test.code}}
               </section>
               <section class=" diag-table-col3">
                {{test.description}}
               </section>


             </section>
           </section>
         </section>

        </section>
    <!-- <p><div class="diag-code">Engine Code:</div> {{test.code}}</p>
    <p><div class="diag-code">Description:</div>{{test.description}}</p>
    </div> -->
  <!-- </section> -->
  </section>
    <!-- {{test}} -->
  </div>
</section>
