<doctype html!> 

    <head> 

<link rel="stylesheet" type="text/css" href="login.css">


        </head> 

<br>
<br>
<br> 
<br>
<br>

<body> 

    <body style="background-color:white">

<p style="text-align:center;"><img src="http://i.imgur.com/cUtPdEP.png"></p>

<section class="login-field"> 
    
    <input type="text" placeholder="Username">

    <input type="text" placeholder="Password">
    
    </section> 

    <br>
    

    <section class="login-button"> 

        <button type+"button"> Register </button> 

       <button type="button"> Login </button> 

       

       </section> 

</body> 

 </html> 