<section id="login-container">

<p style="text-align:center;"><img src="http://i.imgur.com/cUtPdEP.png"></p>

<section class="login-field">

    <input type="text" placeholder="Username">

    <input type="text" placeholder="Password">

    </section>

    <br>


    <section class="login-button">

          <a href="/auth/google/"> <img src="./IMG/icon-google.png"> </a>
        <!-- <button type="button"> Register </button>

       <button type="button"> Login </button> -->

    </section>
</section>
