<section class="route-main">
  <div class="column1">
    <div class="search-container">
    <input type="text" placeholder="          Search..." class="makesSearch" ng-model="searchString"  ng-class="{'typeSearch': searchString }">
    </div>
      <section class="make-list">
      <section data-ng-repeat="make in makes | searchFor:searchString" ng-click="makeList(make.name); select(make)">
        <div class="make-click" ng-class="{'active' : isActive(make)}">
          {{make.name}}
      </div></section>
    </section>
    <div class="search-container">
   <input type="text" placeholder="          Search..." class="modelSearch" ng-model="searchString1"  ng-class="{'modelsList': searchString }">
    </div>
    <section class="model-list">
      <section ng-repeat="model in models | searchFor:searchString1" ng-class="{'active' : isActiveModel(model)}">
        <div class="model-click" ng-click="yearOption(model); selectModel(model)">{{model.name}}</div></section>
    </section>
    <section class="year-list">
      <section ng-repeat="year in years" ng-class="{'active' : isActiveYear(year)}">
        <div class="year-click" ng-click="yearsModel(year.year); selectYear(year)">{{year.year}}</div></section>
    </section>
  </div>
  <div class="column2">
    <div class="no-maint" ng-show="showAlert">{{alert}}</div>
    <section class="maintenance-schedule">
    <section ng-repeat="item in maintArr">
      <div class="maint-container">
    <section>{{make.name}} {{model.name}} {{year.year}}</section>
    <section>Service: {{item.item}}</section>
    <section>Engine Code: {{item.engineCode}}</section>
    <section>Interval Mileage: {{item.intervalMileage}}</section>
    <section>Interval Month: {{item.intervalMonth}}</section>
    <section>Frequency: {{item.frequency}}</section>
    <section>Labor Units: {{item.laborUnits}}</section>
    <section>Part Units: {{item.partUnits}}</section>
    <section>maintenance Type: {{item.action}}</section>
    <section>Description: {{item.itemDescription}}</section>
    </div>
  </section>
  </section>
  </div>
</section>
