<section class="main-container">
     <section class="nav-bar">
       <nav-dir></nav-dir>

     </section>
<section class="route-main">
  <div class="column1">
    <div class="search-container">
    <input type="text" placeholder="Search..." class="makesSearch" ng-model="searchString" ng-class="{'typeSearch': searchString }">
    </div>
      <section class="make-list">
      <section data-ng-repeat="make in makes | searchFor:searchString" ng-click="makeList(make.name); select(make)">
        <div class="make-click" ng-class="{'active' : isActive(make)}">
          {{make.name}}
      </div></section>
    </section>
    <div class="search-container">
   <input type="text" placeholder="Search..." class="modelSearch" ng-model="searchString1"  ng-class="{'modelsList': searchString1 }">
    </div>
    <section class="model-list">
      <section ng-repeat="model in models | searchFor:searchString1" ng-class="{'active' : isActiveModel(model)}">
        <div class="model-click" ng-click="yearOption(model); selectModel(model)">{{model.name}}</div></section>
    </section>
    <section class="year-list">
      <section ng-repeat="year in years" ng-class="{'active' : isActiveYear(year)}">
        <div class="year-click" ng-click="yearsModel(year.year); selectYear(year)">{{year.year}}</div></section>
    </section>
  </div>
  <div class="column2">
    <div class="no-maint" ng-show="showAlert">{{alert}}</div>
    <section class="maintenance-schedule">
    <section ng-repeat="item in maintArr">
      <div class="maint-container">
    <section class="maint-sched">{{make.name}}{{model.name}} {{year.year}}</section>
    <p><section class="maint-sched">Service:</section> {{item.item}}</p>
    <p><section class="maint-sched">Engine Code:</section> {{item.engineCode}}</p>
    <p><section class="maint-sched">Interval Mileage:</section> {{item.intervalMileage}}</p>
    <p><section class="maint-sched">Interval Month:</section>  {{item.intervalMonth}}</p>
    <p><section class="maint-sched">Frequency:</section> {{item.frequencyDisc}}</p>
    <p><section class="maint-sched">Labor Units:</section>  {{item.laborUnits}}</p>
    <p><section class="maint-sched">Part Units:</section> {{item.partUnits}}</p>
    <p><section class="maint-sched">maintenance Type:</section> {{item.action}}</p>
    <p><section class="maint-sched">Description:</section> {{item.itemDescription}}</p>
    </div>
  </section>
  </section>
  </div>
</section>
