@mainBlue: #21418C;

.form-container {
  width: 20vw;
  display: flex;
  flex-flow:row;
  flex-wrap:wrap;
  justify-content: center;
}

#customer-info {
  text-align: left;

}

p3 {
    color: @mainBlue;
}

.submit-button {
  width: 9vw;
  height: 40px;
  background-color: @mainBlue;
  color: white;
}
