@mainBlue: #21418C;

.formColumn1 {
  display: flex;
  flex-flow:column;
  // padding-bottom: 3vh;
}

#customer-info {
  text-align: left;
  align-items: right;

}
p3 {
    color: @mainBlue;
}
.categories-wrap{
    padding-top: 3vh;
}
.form-title {
  margin-bottom: 3.3vh;

}

.form-field {
  padding-bottom: 2vh;
  margin-bottom: 5vh;
  text-align: center;
  width: 18vw;
}
.addCust-main {
  display: flex;
  flex-flow: column;
  overflow: scroll;
  height: 85%;
  width: 60%;
}

.formColumn2 {
  padding-left: 15vw;
  padding-top: 10vh;
  display: flex;
  flex-flow: column;
  border-bottom: 4vh;
  justify-content: space-between;

}
.submit-button {
  margin-right: 35vw;
  width: 9vw;
  height: 40px;
  background-color: @mainBlue;
  color: white;
}
