@mainBlue: #21418C;

.form-container {
  width: 30vw;
  display: flex;
  flex-flow: column;
}
.add-Customer{
  display: flex;
  height: 8vh;
  justify-content: flex-end;
  border-bottom: solid 1px grey;

}
.newcustbutton {
  height: 4vh;
  margin-top: 3vh;
  margin-right: 3vh;
  border-color: transparent;
  background-color: @mainBlue;
  color: white;
}
#customer-info {
  text-align: left;
  padding-bottom: 3vh;
  margin-top: 3vh;
}

p3 {
    color: @mainBlue;
}

.submit-button {
  width: 8vw;
  height: 40px;
  background-color: @mainBlue;
  color: white;
}
.form-name {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.form-title{
  margin-top: 2vh;
}
.form-field {
  width: 15vw;
  height: 4vh;
  // margin-bottom: 4vh;
}
