@mainBlue: #21418C;
@mainGreen: #6FC17F;
@mainOrange: #F46868;
@mainGrey: #727476;
@mainRed: #F46868;

@mainPink: rgba(244, 104, 104, 0.15);
.white {
  color: white;
}

.users-dashboard {
  height: 100%;
  width: 100%;
}

.users-div{
  padding-top: 1vh;
  height: 50px;
  width: 100%;
  border: solid 1px #F7F7F7;
  overflow: scroll;
  height: 40%;
  background-color: white;
}

.usersSearch {
  background-color: white;
  text-align: justify;
  background-image: url('../IMG/mag-glass.png');
  background-repeat: no-repeat;
  background-size: 3vh;
  opacity: .3;
  background-position: left;
  background-position: .5vw;
  align-self: center;
  height: 4vh;
  width: 20vw;
  border-radius: 15px 15px 15px 15px;
  font-size: 1em;
}

.display-view-container {
  display: flex;
  flex-direction: column;
}
.blue{
  background: @mainBlue;
  color: white;
}

.red{
  background: @mainRed;
  color: white;

}

.display-view-container h3 {
color: @mainBlue;
}

.display-view-container strong{
color: black;
}

.customer-info-container{
  display: flex;
  justify-content: space-around;
}

.alert-box-container{
  background: @mainPink;
  width: 50%;
  border: 1px solid @mainRed;
}

.alert-box-head{
  color: white;
  font-weight: 100;
}

.alert {
  padding: 1em;
  border-bottom: 1px solid rgba(244, 104, 104, 0.20);
}

.select-car-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  border-top: 1px solid  @mainGrey ;
  border-bottom:  1px solid  @mainGrey;
}

.car-info-container{
  display: flex;
  justify-content: space-between;
  margin: 2em;
}
