@mainBlue: #21418C;

.search-container {
  height: 9vh;
  display: flex;
  justify-content: space-around;
  background-color: #EEEEEE;
}

.makesSearch {
  background-color: white;
  color: grey;
  text-align: justify;
  background-image: url('../IMG/search-symbol.png');
  background-repeat: no-repeat;
  background-size: 3vh;
  background-position: left;
  background-position: .5vw;
  align-self: center;
  height: 5vh;
  width: 20vw;
  border-radius: 15px 15px 15px 15px;
  border-color: transparent;
  font-size: 1em;
}

.typeSearch {
  background-image: none;
}


.modelSearch {
  background-color: white;
  color: grey;
  text-align: justify;
  background-image: url('../IMG/search-symbol.png');
  background-repeat: no-repeat;
  background-size: 3vh;
  background-opacity: .3;
  background-position: left;
  background-position: .5vw;
  align-self: center;
  height: 5vh;
  width: 20vw;
  border-radius: 15px 15px 15px 15px;
  border-color: transparent;
  font-size: 1em;
}

.modelsList {
  background-image: none;
}


section.make-list {
  margin-top: 5%;
  overflow: scroll;
  height: 18%;
  background-color: white;
  :hover {
     background-color: @mainBlue;
      color: white;
  }

}
.make-click {
  border-bottom: solid 1px grey;
  background-color: white;
  width: 100%;
  border-color: transparent;
  cursor: pointer;
  text-align: left;

}

.active {
  background-image: url('../IMG/check.png');
  background-size: 2.5vh;
  background-repeat: no-repeat;
  background-position: right;
  background-color: @mainBlue;
  color: white;

}
.activeModel {
  color: white;
}

section.model-list {
  margin-top: 5%;
  overflow: scroll;
  height: 30%;
  background-color: white;
  :hover {
    background-color: @mainBlue;
    color: white;

  }
}

.model-click {
  cursor: pointer;
  border-bottom: solid 1px grey;
}

section.year-list {
  margin-top: 5%;
  overflow: scroll;
  height: 18%;
  background-color: white;
  :hover {
     background-color: @mainBlue;
      color: white;
  }

}

.year-click {
  padding: 5px;
  border-top: solid 1px grey;
  cursor: pointer;

}

.maintenance-schedule{
  overflow: scroll;
  height: 100%;
}

.maint-container {
  padding-bottom: 4vh;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-bottom: solid 1px grey;
}

.no-maint {
  text-align:center;
  padding-top: 50vh;
}
// SCROLLBAR
::-webkit-scrollbar {
    width: 25px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: grey;
}
