/*LESS*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100);
// @import url(https://fonts.googleapis.com/css?family=Roboto:100);


/*@mainbackground: #F7F7F7*/
@mainBlue: #21418C;
@mainGreen: #6FC17F;
@mainOrange: #F46868;
@mainGrey: #727476;

/*HTML*/
* {
    font-family: 'Roboto', sans-serif;
    color: @mainGrey;
}

html, body {
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}


/*MAIN*/
.main-container {
  display: flex;
  height: auto;
  width: auto;
}

/*ROUTES*/
.route-container {
  display: flex;
  left: 20vw;
  order: 2;
  height: auto;
  width: 78%;
}

.route-main {
  width: 78vw;
  height: 100%;
  display: flex;
  order: 2;
}
.column1 {
  width: 30%;
  height: 100vh;
  background-color: white;
  margin-left: 20px;
  margin-top: 20px;
}

.column2 {
  width: 63%;
  height: 100vh;
  background-color: white;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 15px;
}

/*SCHEDULE*/
iframe {
  width: 100%;
  height: 100%;
}
